.navbar
{
    background-color:#046475;
}
#active
{
    color:yellow;
}
.navbar a:link, .navbar a:visited
{
    color: white;
}
.navbar a:hover
{
    color: #0dedd1;
    text-decoration:underline;
}
.dropdown-menu a:hover
{
    color:black;
}
.hidden
{
    display:none;
}
