@{ 
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Share And Build Yourself..!</h1>
            <h3>Practice makes man perfect - Just add atleast one github commit on a day.</h3>
            <p class="lead">Join the world's largest developer community here.</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Founded in 2008</div>
            <div class="card-body">
                A paragraph is a series of related sentences developing a central idea, called the topic.
                Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of
                sentences that supports one central, unified idea.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>
            <div class="card-body">
                This topic sentence forecasts the central idea or main point of the paragraph: “politicians” and “journalists” rely on Twitter.
                The rest of the paragraph will focus on these two Twitter-user groups.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Stack Overflow Offices</div>
            <img class="card-img-top" src="~/Images/Stack.png" alt="Offices"/>
            <div class="card-body">
                Stack Overflow was founded in 2008 and its current CEO is Prashanth Chandrasekar.
                Since its inception 15 years ago, Stack Overflow has grown to 514 employees.
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>