@{ 
    ViewBag.Title = "Contact";
}
<div class="row">
<div class="col-sm-6">
    <div class="card">
        <div class="card-header bg-dark text-light">Teams</div>
        <div class="card-body">
            <p>A Private secure home for your teams questions and answers. Perfect for teams of 10-500 memebrs.
                Stack Overflow helps developers and technologists write the script of the future.</p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header bg-dark text-light">Enerprice</div>
        <div class="card-body">
            <p>Over 100 million people visit Stack Overflow every month, 
                making it one of the 50 most popular websites in the world.</p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>
</div>
<script>
    $("a[href='/home/contact']").attr("id", "active");
</script>